# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Django
db.sqlite3
*.log
staticfiles/
media/

# Environment
.env
!.env.example

# Virtual env
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Coverage
.coverage
htmlcov/
